@model IEnumerable<TaskShare.Models.Product>

@{
    ViewData["Title"] = "Index";
}
<h1>Products</h1>

<div> 
    <form asp-controller="Products" asp-action="Index">
        <div class="col-lg-2">
            <input class="form-control" type="text" name="SearchText" placeholder="Name" value="@ViewBag.SearchText" />
        </div>
        <div class="btn-group"> 
            <input class="form-control" type="number" name="MinPrice" placeholder="Min price" value="@ViewBag.MinPrice" />
            <input class="form-control" type="number" name="MaxPrice" placeholder="Max price" value="@ViewBag.MaxPrice" />
        </div>
        <div class="col-lg-2">
            <select id="SelectCategory" class="form-control" name="Category" asp-items="Html.GetEnumSelectList<ProductCategory>()">
                <option value=null selected disabled hidden>Choose category</option>
            </select>
        </div>
        <input class=" p-1 ml-2 btn btn-info" type="submit" value="Search" />
        <a asp-action="Index">Reset filters</a>

    </form>
</div>

<script>
        window.onload = function() {
        document.getElementById(
            "SelectCategory").selectedIndex = "@ViewBag.Category";
    }
</script>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producent)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producent.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<p>
    <a asp-action="Create">Add new product</a>
</p>
